.admin-page {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.admin-page h3 {
  margin-left: 1em;
}

.lista-admin {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: auto;
}