.sala {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chat-section {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  overflow-y: auto;
  flex-grow: 1;
}

.chat-section li {
  width: fit-content;
  display: flex;
  gap: 1em;
}

.chat-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media all and (min-width:1024px) {
  .sala {
    max-width: 1124px;
    padding-left: 4em;
  }
}
